{% extends 'templates/base/shadow-container.html' %}
{% block scripts %}
    <script src="/static/main/js/header.js" type="module"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/main/css/header.css">
{% endblock %}
{% block content %}
    <div class="top-frame">
        <div class="container">
            <div class="logo">
                <img src="/static/main/img/logo-zorro.svg" height="16px" alt="">
            </div>
            <div id="top-frame-content" class="content"></div>
            <div class="buttons">
                <button class="minimize-btn">
                    <img src="/static/main/img/icon-minimize.svg" alt="">
                </button>
                <button class="maximize-btn">
                    <img src="/static/main/img/icon-maximize.svg" alt="">
                </button>
                <button class="close-btn">
                    <img src="/static/main/img/icon-close.svg" alt="">
                </button>
            </div>
        </div>
    </div>
{% endblock %}
