<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    {% block meta %}{% endblock %}
    {% block styles %}{% endblock %}
    <script src="/eel.js" type="text/javascript"></script>
    <script src="/mvvm/js/binder.js" type="text/javascript"></script>
    <script src="/mvvm/js/bindings.js" type="module"></script>
    <script src="/mvvm/js/notify.js" type="module"></script>
    {% block scripts %}{% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
<!------------------------------  Top frame  ------------------------------------->
    <header>
        {% block header %}{% endblock %}
    </header>

<!------------------------------  Workspace  --------------------------------->
    <div id="workspace">
        {% block workspace %}{% endblock %}
    </div>

<!------------------------------  Bottom frame  ------------------------------>
    <footer>
        {% block footer %}{% endblock %}
    </footer>

<!------------------------------  Dummy  ------------------------------------->
    <div id="dummy" style="display: none !important;"></div>

</body>
</html>