{% extends 'templates/base/shadow-container.html' %}
{% block scripts %}
    <script src="/static/notepad/js/left-menu.js" type="module"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="/node_modules/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/notepad/css/left-menu.css">
{% endblock %}
{% block content %}
    <div class="left-menu ui-widget-content">
        <div class="container">
            <h1>Explorer</h1>
        </div>
    </div>
{% endblock %}