/*============================== Defaults ==============================*/
html{
    overflow:  hidden;
}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #000000;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
}

header{
    box-shadow: 0px -1px 15px 0px #0000001f;
    background-color: #dddddd;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a{
    cursor: default;
    user-select: none;
    -webkit-user-drag: none !important;
}

p{
    margin: 0;
}

button{
    border: 0;
}

button:focus{
    outline: none !important;
}

button:focus-visible{
    outline: none !important;
}

img{
    -webkit-user-drag: none !important;
    user-select: none;
}

.draggable{
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}

.dummy{
    display: none !important;
}

.link-button{
    padding: 12px;
    margin-right: 24px;
    background: #F0F0F0;
    color: #7B7B7B;
    text-decoration: none;
}

.link-button:hover{
    background: #C0C0C0;
    color: #ffffff;
}

.link-button:last-child{
    margin-right: 0;
}

.link-button-main{
    background: #D0CD26 !important;
    color: #ffffff !important;
}

.link-button-main:hover{
    background: #9d9b24 !important;
    color: #7B7B7B !important;
}
